@charset "UTF-8";


/* autoprefixer: on */
header {
  h1 {
    color: blue;
    display: grid;
    font-size: 50px;
  }

}

h2 {
  display: flex;
  background: linear-gradient(to bottom, white, black);
}

.bg-test {
  width: 200px;
  height: 200px;
  background-image: url(../img/test2.jpg);
}

